!!! 5
%html
  %head
    %title Simple Printer
    %style
      ul { list-style-type: none; }
      label { display: block; }
      input { width: 500px; }
      textarea { width: 500px; height: 300px; }
  %body
    %h1 Simple Printer
    %p Send London a message!
    %form{ :action => '', :method => 'post' }
      %fieldset
        %ul
          %li
            %label{:for => 'title'} Title
            %input{:type => 'text', :name => 'title'}
          %li
            %label{:for => 'body'} Body
            %textarea{:name => 'body'}
          %li
            %input{:type => 'submit'}

